<div class="container">
    <div class="row">
        <h1>{{title}}</h1>
        <div class="nav navbar navbar-expand-sm">
              <div class="navbar-nav">
                <li class="navitem m-2">
                    <a routerLink="/employees/addNew" class="nav-link btn btn-danger btn-sm">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Add New Employee
                    </a>
                </li>
                <li class="navitem m-2">
                    <a routerLink="/" class="nav-link btn btn-primary btn-sm">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        About Us
                    </a>
                </li>
              </div>  
        </div>
    </div>
</div>
